:root {
  --primary-color: #050309;
  --accent-color: hsl(256, 89%, 50%);
  --dark-accent-color: #09021e;
  --dark-black: rgba(4, 3, 6, 0.95);
  --secondary-color: hsl(8, 83%, 59%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 220vh;
  color: #fff;
  background-color: var(--primary-color);
}

/* Utilities */
/* Used when top-bar is displayed */
.down36 {
  transform: translateY(36px);
}
/* Used when scrolling down - hiding the top-bar and sub-header */
.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

/* HEADER */
header {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  max-height: 70px;
  transition: transform 0.3s ease-in-out;
}

/* Top Bar */
.top-bar {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  transition: transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  max-height: 36px;
  position: absolute;
}

.top-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  filter: brightness(90%);
  z-index: -1; /* place elements behind the content */
}

.contact-info {
  display: flex;
  gap: 20px;
}

.social-links a {
  color: var(--secondary-color);
  margin-left: 10px;
  text-decoration: none;
  opacity: 1.0;
}

/* Main Header */
.main-header {
  color: var(--secondary-color);
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--dark-black);
  transition: transform 0.3s ease-in-out;
  overflow: hidden; 
}

.logo {
  width: 100px;
  height: 40px;
  background-color: var(--secondary-color); /* Placeholder for logo */
}

.nav-buttons {
  display: flex;
  gap: 20px;
}

/* using main-header to select the contact button too */
.main-header a {
  color: var(--secondary-color);
  position: relative;
  font-weight: 900;
  letter-spacing: 0.2em;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.main-header a:hover {
  background-color: var(--secondary-color);
  color: var(--dark-black);
}

/* Sub Header */
.sub-header {
  padding: 15px 20px;
  background-color: var(--dark-black);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 1;
  border-bottom: 1px solid var(--accent-color);
}
.sub-header.hidden {
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.product-categories {
  display: flex;
  gap: 15px;
}

.product-category a {
  color: var(--accent-color);
  text-decoration: none;
  padding: 5px 10px;
  font-weight: 600;
}

/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 3px;
  z-index: 1;
  padding: 5px 0;
}
.product-category:hover .dropdown-content, .dropdown-content a {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--dark-black);
  border-radius: 4px;
  font-weight: 100;
  margin: 1px 0;
}

.dropdown-content a:hover {
  text-decoration: underline;
  color: white;
}


/* Main Content Starts Here */

.wrapper {
  margin: 160px 5% 0; 
}

.left-hero {
  margin: 150px 0 0;
}

.left-hero h1 {
  padding: 10px 0;
}
.left-hero p {
  margin: 0 60px 0 0;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-size: 20px;
}

form input {
  border: 1px solid var(--accent-color);
  border-radius: 100px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0);
  width: 300px;
}
form input::placeholder {
  /* color: var(--secondary-color); */
  font-size: 15px;
}

.right-hero img {
  width: 780px;
  height: auto;
}
.hero-section {
  display: flex;
}